body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #2c3e50, #4ca1af);
    margin: 0;
    overflow: hidden;
    color: #f5f7fa;
}

.container {
    text-align: center;
    background: #2c3e50;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #f5f7fa;
    animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.drop-zone {
    border: 2px dashed #4ca1af;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.drop-zone:hover {
    background-color: #34495e;
    transform: scale(1.05);
}

input[type="file"] {
    display: none;
}

.file-list {
    margin-bottom: 20px;
    text-align: left;
    animation: fadeIn 1s ease-in-out;
}

.file-list p {
    margin: 5px 0;
    font-size: 14px;
    color: #f5f7fa;
}

.btn {
    padding: 10px 20px;
    background-color: #4ca1af;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    display: inline-block;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn i {
    margin-right: 5px;
}

.btn:hover {
    background-color: #3b6978;
    transform: scale(1.05);
}

img {
    vertical-align: middle;
    margin-right: 5px;
}
